<%- include('partials/header', {user:user}) -%>
<%- include('partials/nav', {user:user}) -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<projects.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <div class="feed-post-container">
            <%if(projects[i].user == user.id){ %>
            <a class="logline"href="/project/myProject/<%= projects[i]._id%>">
              <%} else { %>
                <a class="logline"href="/project/<%= projects[i]._id%>">
                <% } %>
                <h2><%= projects[i].title %></h2>
                <span class="feedCaptions"><%= projects[i].caption %></span>
                <span>Created by:  <%= projects[i].user.userName %></span>
                <div class="feed-img-container">
                  <!-- <img class="img-fluid feed-img" src="<%= projects[i].image%>"> -->
                </div>
            </a>
          </div>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
  <script src="/js/feed.js"></script>
<%- include('partials/footer') -%>