<%- include('partials/header', {user:user}) -%>
<div class="container feed-container">
  <div class="row justify-content-center">
    <% for(var i=0; i<projects.length; i++) {%>
      <div class="col mt-5">
        <div class="d-flex justify-content-center">
          <div class="card col-lg-6 col-md-8 col-sm-12 col-12 shadow-sm mb-5 rounded">
            <% if(projects[i].user == user.id){ %>
              <a class="logline" href="/project/myProject/<%= projects[i]._id%>">
            <% } else { %>
              <a class="logline" href="/project/<%= projects[i]._id%>">
            <% } %>
              <!-- <img src="<%= projects[i].image%>" class="card-img-top card-img" alt="project image"> -->

              <div class="card-body p-0 d-flex">
                <div class="card-info">
                <div class="card-title-section">
                  <h5 class="card-title"><%= projects[i].title %></h5>
                </div>
                  <div class="card-text-section">
                  <p class="card-text"><%= projects[i].caption %></p>
                <span class="">Created by: <%= projects[i].user.userName %></span>
                </div>
              </div>
              
                <div class="card-submissions p-5">
                  <h6 class="card-title mb-4">Cast & Crew needed</h6>
                  <ul>
                    <!-- Need to sort this out to have each card present the needed roles for this project
                    Currently it is only has the submitted roles, which is not what we need, but I wanted to check if it was sending data. It is.  -->
                    <li> <%= submissions[i].role %> </li>
                    <li> Wanted Role 2 </li>
                  </ul>
               </div>


              </div>
            </div>
          </div>
        </div>
      </a>
    <% } %>
  </div>
</div>

<script src="/js/feed.js"></script>
<%- include('partials/footer', { class: 'footer' }) -%>
