<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-lg-8 profile-pic-container">
        <div class="profile-pic-upload-container">
        <% for(i=0; i < profile.length; i++){ %>
          <% if(profile[i].user._id.toString() === user._id.toString()) {%>
            <div class="profile-pic-preview">
              <img class="profile-pic" src="<%= profile[i].profilePic %>" alt="Profile Picture">
            </div>
              <% break %>
            <% } else { %>
               null
            <% } %>
        <% } %>
        <div class="profile-pic-edit">
          <form id="profilePicForm" action="/profilePic" enctype="multipart/form-data" method="POST">
              <input type="file" class="form-control profile-pic-input" id="profilePicUpload" name="profilePicUpload">
              <label for="profilePicUpload" class="form-label"><i class="fas fa-edit"></i></label>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
           </form>
          </div>
        </div>
      </div>
  </div>
    <div>
        <p><strong>User Name</strong>: <%= user.userName %></p>
        <p><strong>Email</strong>: <%= user.email %></p>
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
    </div>
    <div class="row justify-content-center mt-5">
      <a class="btn btn-primary" href="/makeProject">Create a project</a>
    </div>  
    <div class="row mt-5">     
        <div class="col-6">
          <h2>My Projects</h2>
          <ul class="row list-unstyled">
          <% for(var i=0; i<projects.length; i++) {%>
            <li class="col-6 justify-content-between mt-5">
              <a href="/project/myProject/<%= projects[i]._id%>">
                <h2><%= projects[i].title%></h2>
                <img class="img-fluid" src="<%= projects[i].image%>">
              </a>
            </li>
          <% } %>
        </ul>
      </div>
      
          <h2>Notifications</h2>
          <% for(i=0;i<submissions.length;i++)  { %>
            <ul>
              <li>
                <span class="li-block">Project: <a href="/project/<%= submissions[i].status === true ? 'projectPage/' + submissions[i].project._id : submissions[i].project._id %>"><%= submissions[i].project.title %></a></span>
                <span class="li-block">Role: <%= submissions[i].role %></span>
                <span class="li-block">Submission Status: <%= submissions[i].status === null ? 'Not Selected' : submissions[i].status === true ? 'Selected' : 'Pending' %></span>
              </li>
            </ul>
          <% } %>
        </div>

        <div class="row mt-5">
          <div class="col-6">
            <h2>Media</h2>
            <!-- Add your media content here -->
          </div>
        </div>

         
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Projects Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<script src="/js/homeProfile.js"></script>
<%- include('partials/footer') -%>