<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 profile-pic-container">
      <div class="profile-pic-upload-container">
        <% let userHasProfilePic = false %>
        <% for (i = 0; i < profile.length; i++) { %>
          <% if (profile[i].user._id.toString() === user._id.toString()) { %>
            <div class="profile-pic-preview">
              <img class="profile-pic" src="<%= profile[i].profilePic %>" alt="Profile Picture">
            </div>
            <% userHasProfilePic = true %>
            <% break %>
          <% } %>
        <% } %>
  
        <% if (!userHasProfilePic) { %>
<!-- Display a placeholder or default image if user does not have a profile picture -->
          <div class="profile-pic-preview">
            <img class="profile-pic" src="path_to_default_image.jpg" alt="Default Profile Picture">
          </div>
        <% } %>
  
        <div class="profile-pic-edit">
          <form id="profilePicForm" action="/profilePic" enctype="multipart/form-data" method="POST">
            <input type="file" class="form-control profile-pic-input" id="profilePicUpload" name="profilePicUpload">
            <label for="profilePicUpload" class="form-label"><i class="fas fa-edit"></i></label>
            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
          </form>
        </div>
      </div>
    </div>

<!-- BIO -->
<div class="col-md-8 bio-pic-container">
  <div class="bio-pic-upload-container">
    <div class="col-lg-8 col-md-12 col-sm-10 bio rounded">
      <% if (bio.bio) { %>
        <span><%= bio.bio %></span>
      <% } else { %>
        <!-- Display a message if the user's bio is empty -->
        <span>No bio available.</span>
      <% } %>


      <div class="bio-pic-edit">
          <!-- BIO MODAL BUTTON-->
          <button type="button" class="bio-button profile-pic-input" data-bs-toggle="modal" data-bs-target="#bioModal"><i class="fas fa-edit"></i></button>
      </div>


        <!-- Modal -->
            <div class="modal fade" id="bioModal" tabindex="-1" aria-labelledby="bioExampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="bioExampleModalLabel">Add Bio</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <form action="../createBio"  method="POST">
                        <div class="mb-3">
                          <textarea class="form-control" id="bio" name="bio"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
                      </form>                    
                </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
  </div>
</div> 
  
 
    <div class="mt-4">
        <p><strong>User Name</strong>: <%= user.userName %></p>
        <p><strong>Email</strong>: <%= user.email %></p>
    </div>

    <!-- CREATE PROJECT -->
    <div class="justify-content-center mt-5">
      <a class="btn btn-primary" href="/makeProject">Create a project</a>
    </div>  

    
    
    <!-- NOTIFICATIONS OFFCANVAS -->
    <button class="btn btn-primary mt-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
      Notifications
    </button>
    
    <div class="offcanvas offcanvas-start" data-bs-backdrop="false" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Notifications</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <% for(i=0;i<submissions.length;i++)  { %>
          <ul>
            <li>
              <% if (submissions[i].project) { %>
                <span class="block">Project: <a class="title" href="/project/<%= submissions[i].status === true ? 'projectPage/' + submissions[i].project._id : submissions[i].project._id %>"><%= submissions[i].project.title %></a></span>
              <% } %>
              <span class="block">Role: <%= submissions[i].role %></span>
              <span>Submission Status: </span>
              <span class="<%= submissions[i].status === null ? 'role-rejected' : submissions[i].status === true ? 'role-accepted' : '' %>"><%= submissions[i].status === null ? 'Not Selected' : submissions[i].status === true ? 'Selected' : 'Pending' %></span>
            </li>
          </ul>
          <% } %>
        </div>
      </div>
      
      <!-- ADD MEDIA -->
      <button class="btn btn-primary block mt-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop2" aria-controls="staticBackdrop">
        Add Media
      </button>
      
      <div class="offcanvas offcanvas-start" data-bs-backdrop="false" tabindex="-1" id="staticBackdrop2" aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="staticBackdropLabel">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            <h2>Add Media</h2>
            <form action="/profile/addProfileMedia" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imgUpload" name="imgUpload">
              </div>

              <div class="mb-3">
                <label for="fileUpload" class="form-label">File</label>
                <input type="file" class="form-control" id="fileUpload" name="fileUpload">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>

          </div>
        </div>
      </div>
    </div>


<!-- MY PROJECTS -->
        <div class="container mt-4">
          <div class="row">
            <div class="col">
          <h2>My Projects</h2>
          <ul class="list-unstyled">
          <% for(var i=0; i<projects.length; i++) {%>
            <li class="mt-4">
              <div class="card d-flex" style="width: 25rem;">
                <a href="/project/myProject/<%= projects[i]._id%>">
                <!-- <img class="img-fluid" src="<%= projects[i].image%>"> -->
                <div class="card-body">
                  <h5 class="card-title courier"><%= projects[i].title%></h5>
                  <p class="card-text courier"><%= projects[i].caption%></p>
                  <p>Creator</p>
                </div>
                </a>
              </div>
            </li>
          <% } %>
          <% for(i=0;i<submissions.length;i++)  { %>
              <li class="mt-4">
                <% if (submissions[i].project && submissions[i].status === true ) { %>
                  <div class="card d-flex" style="width: 20rem;">
                    <a class="title" href="/project/projectPage/<%= submissions[i].project._id%>">
                  <div class="card-body">
                    <h5 class="card-title courier"><%= submissions[i].project.title %></h5>
                    <!-- <p class="submission-project-p card-text courier"><%= submissions[i].project.caption %></p> -->
                    <p class="submission-project-p">Role: <%= submissions[i].role %></p>
                </div>
              </div>
            </a>
          </li>
          <% } %>                
            <% } %>
        </ul>
      </div>

      <!-- Section to display Users self submitted media. Headshots, Writing Samples etc... -->
      <div class="col-md-6">
        <h2>My Media</h2>
      
        <div class="row g-3">
          <% for (let i = 0; i < media.length; i++) { %>
            <div class="col-6">
              <!-- Button trigger modal -->
              <a data-bs-toggle="modal" data-bs-target="#exampleModal<%= i %>">
                <img class="mediaImg rounded shadow-sm mt-2" src="<%= media[i].image %>" alt="Profile Picture">
              </a>
            </div>
      
            <!-- Modal -->
            <div class="modal fade" id="exampleModal<%= i %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title"><%= media[i].title %></h5>
                  </div>
                  <div class="modal-body">
                    <img class="mediaImg rounded shadow-sm mt-2" src="<%= media[i].image %>" alt="Profile Picture">
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
      

      </div>
      </div>
    

        <div class="row mt-5">
          <div class="col-6">

          </div>
        </div>

    </div>
  </div>
</div>
</div>
<script src="/js/homeProfile.js"></script>
<%- include('partials/footer', { class: 'footer' }) -%>