<%- include('partials/header') -%>
<div class="container myContainer">
      <div class="col text-center">
        <h1>Film Title: <%= project.title %></h1> 
        <h2>Description: <%= project.caption %></h2>
      </div>
    <div class="row">
    <div class="col-6">
      <% if(project.file) { %> 
        <a type="button" class="btn btn-script btn-outline-success mt-2" href="<%= project.file %>"><%= project.title %></a>
        <% } else { %> 
          <a style="display:none;"></a>
          <%}%>

          <!-- ADD MEDIA -->
          <button class="btn btn-primary block mt-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop2" aria-controls="staticBackdrop">
           Add Media
         </button>
         
         
         <div class="offcanvas offcanvas-start" data-bs-backdrop="false" tabindex="-1" id="staticBackdrop2" aria-labelledby="staticBackdropLabel">
           <div class="offcanvas-header">
             <h5 class="offcanvas-title" id="staticBackdropLabel">Add Media</h5>
             <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
           </div>
           <div class="offcanvas-body">
             <div>
               <h2>Add Media</h2>
               <form action="/project/addProjectMedia/<%= project._id %>" enctype="multipart/form-data" method="POST">
                 <div class="mb-3">
                     <label for="title" class="form-label">Title</label>
                     <input type="text" class="form-control" id="title" name="title">
                 </div>
                 <div class="mb-3">
                   <label for="imgUpload" class="form-label">Image</label>
                   <input type="file" class="form-control" id="imgUpload" name="imgUpload">
                 </div>
    
                 <div class="mb-3">
                   <label for="fileUpload" class="form-label">File</label>
                   <input type="file" class="form-control" id="fileUpload" name="fileUpload">
                 </div>
                 <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
               </form>
    
             </div>
           </div>
         </div>

         <!-- OFF CANVAS SUBMISSIONS -->
         <button class="btn btn-primary mt-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
          Submissions
        </button>
        
        
        <div class="offcanvas offcanvas-start" data-bs-backdrop="false" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="staticBackdropLabel">Submissions</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <% for(var i=0; i<submission.length; i++) {%>
              <div class="row">
                <% if (submission && submission[i].project == project.id) { %>
              <ul>
              <li class="justify-content-between mt-5 
              <%= submission[i].status === null ? 'role-rejected' : submission[i].status === true ? 'role-accepted' : '' %>">
                <a href="/profile/<%= submission[i].user._id %>"> <%= submission[i].user.userName %> </a>would like to be <%= submission[i].role %>
                <form
                action="/project/acceptRole/<%=submission[i]._id%>?_method=PUT"
                method="POST"
                class="submit-icons"
                >
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-check"></i>
                </button>
                </form>
                
                <form
                action="/project/rejectRole/<%=submission[i]._id%>?_method=PUT"
                method="POST"
                class="submit-icons"
                >
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                </form>
              </li>
              <% } %>
            </ul>
            <% } %>
           </div>
          </div>
        </div>  
        
      </div>

      <!-- return to profile button  -->
      <div class="col mt-2">
        <a class="btn btn-primary" href="/profile/homeProfile">Return to Profile</a>
      </div>
      </div> 
      

      <div class="col-6">
        <h2>Media</h2>
  

        <% for (let i = 0; i < projectMedia.length; i++) { %>
          <% if(projectMedia[i].project._id.toString() == project._id.toString()) { %>  
          <!-- Button trigger modal -->
          <a data-bs-toggle="modal" data-bs-target="#exampleModal<%= i %>">
            <div>
              <% if(projectMedia[i].file) { %>
                <a type="button" class="btn btn-script btn-outline-success mt-2" href="<%= projectMedia[i].file %>"><%= projectMedia[i].title %></a>
                <% } else { %>
                  <img class="mediaImg rounded shadow-sm mt-2" src="<%= projectMedia[i].image %>" alt="Profile Picture">
                  <% } %>
            </div>
          </a>
        
          <!-- Modal -->
          <div class="modal fade" id="exampleModal<%= i %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <img class="mediaImg rounded shadow-sm mt-2" src="<%= projectMedia[i].image %>" alt="Profile Picture">
                </div>
              </div>
            </div>
          </div>
        <% } %>
        <% } %>
      </div>  
       
      <%if(project.user == user.id){ %>
      <form
        action="/project/deleteProject/<%= project.id %>?_method=DELETE"
        method="POST"
        class="col d-flex justify-content-end"
      >
      <div class="d-grid gap-2 col-2">
      <button type="submit" class="btn btn-delete btn-danger fa fa-trash mt-5"></button>
        <!-- <button class="btn btn-primary fa fa-trash" type="submit"></button> -->
      </div>
      </form>
      <%}%>

    </div>
    </div>
  </div>
  
</div>

<%- include('partials/footer', { class: 'footer' }) -%>
