<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col">
        <% if (profile && profile.length > 0 && profile[0].user && profile[0].user._id && profile[0].user._id.toString() === viewedUserId.toString() && profile[0].profilePic) { %>

            <div class="profile-pic-container">
              <div class="profile-pic-preview">
              <img class="profile-pic" src="<%= profile[0].profilePic %>" alt="">
              </div>
            </div>
        <% } %>
      
      <div>
          <p><strong>User Name</strong>: <%= userProfile.userName %></p>
          <p><strong>Email</strong>: <%= userProfile.email %></p>
          <a href="/logout" class="col-3 btn btn-primary">Logout</a>
      </div>
         
      <div class="col">
        <h2>Projects</h2>
        <ul class="row list-unstyled">
        <% for(var i=0; i<userProjects.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/project/<%= userProjects[i]._id%>">
              <h2><%= userProjects[i].title%></h2>
              <img class="img-fluid" src="<%= userProjects[i].image%>">
            </a>
          </li>
        <% } %>
      </ul>

          
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Projects Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>