<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 profile-pic-container mb-3">
      <div class="profile-pic-upload-container">
        <% if (profile && profile.length > 0 && profile[0].user && profile[0].user._id && profile[0].user._id.toString() === viewedUserId.toString() && profile[0].profilePic) { %>

            <div class="profile-pic-container mb-4">
              <div class="profile-pic-preview">
              <img class="profile-pic" src="<%= profile[0].profilePic %>" alt="">
              </div>
            </div>
        <% } %>
          </div>
      </div>

        <!-- BIO -->
        <div class="col-md-8 bio-pic-container">
          <div class="bio-pic-upload-container">
            <div class="col-lg-8 col-md-12 col-sm-10 bio rounded p-3">
              <%if(bio && bio.length > 0 && bio[0].user && bio[0].user._id && bio[0].user._id.toString() === viewedUserId.toString()) {%> 

                  <p><%= bio[0].bio %></p>

              <% } else { %>
                <!-- Display a message if the user's bio is empty -->
                <p>No bio available.</p>
              <% } %>
            </div>
          </div>
        </div>
      
      
      <div>
          <p><strong>User Name</strong>: <%= userProfile.userName %></p>
          <p><strong>Email</strong>: <%= userProfile.email %></p>
      </div>

      <div class="container mt-4">
        <div class="row">
          <div class="col">
        <h2>Projects</h2>
        <ul class="list-unstyled">
          <% for(var i=0; i<userProjects.length; i++) {%>
          <li class="mt-4">
            <div class="card d-flex" style="width: 20rem;">
              <a href="/project/<%= userProjects[i]._id%>">
              <div class="card-body">
                <h5 class="card-title courier"><%= userProjects[i].title%></h5>
                <p class="card-text courier"><%= userProjects[i].caption%></p>
              </div>
              </a>
            </div>
          </li>
        <% } %>
      </ul>
    </div>

    <div class="col-md-6">
      <h2>Media</h2>
    
      <div class="row g-3">
        <% for (let i = 0; i < media.length; i++) { %>
          <div class="col-6">
            <!-- Button trigger modal -->
            <a data-bs-toggle="modal" data-bs-target="#exampleModal<%= i %>">
              <div>
                <img class="mediaImg rounded shadow-sm mt-2" src="<%= media[i].image %>" alt="Profile Picture">
              </div>
            </a>
          </div>
    
          <!-- Modal -->
          <div class="modal fade" id="exampleModal<%= i %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><%= media[i].title %></h5>
                </div>
                <div class="modal-body">
                  <img class="mediaImg rounded shadow-sm mt-2" src="<%= media[i].image %>" alt="Profile Picture">
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    
    </div>
    </div>
  </div>

<%- include('partials/footer', { class: 'footer' }) -%>